@import url('./lqip.css') layer(lqip);

:root {
	--color-primary: blue;
	--font-primary: 'Akshar', sans-serif;
}

body {
	font-family: var(--font-primary);
	font-size: 1.2em;
	font-weight: 375;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-weight: 500;
}

header {
	margin: auto;
	max-width: 900px;
}

main {
	display: block;
	margin: auto;
	width: 100%;
}

.images {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	padding: 1em;
	place-content: center;

	.demo {
		display: grid;
		gap: 0.5em;
		grid-template-columns: 3fr 3fr 2fr;

		input {
			display: none;
		}

		img,
		.preview {
			width: 100%;
		}

		canvas {
			aspect-ratio: 1;
			image-rendering: pixelated;
			width: 100%;
		}

		.colors {
			.packed-colors {
				aspect-ratio: 3 / 1;
				background: linear-gradient(
					to right,
					var(--lqip-c0) 33%,
					var(--lqip-c1) 33%,
					var(--lqip-c1) 66%,
					var(--lqip-c2) 66%
				);
			}
		}

		.preview {
			img {
				object-position: 200vw 0;

				&:hover {
					object-position: revert;
				}
			}
		}
	}
}